
Snake/.vs/Snake/v17/Browse.VC.db
Snake/.vs/Snake/v17/Browse.VC.db-shm
Snake/.vs/Snake/v17/Browse.VC.db-wal
Snake/.vs/Snake/v17/Browse.VC.opendb
Snake/.vs/Snake/v17/ipch/AutoPCH/229c18ea417cba2d/SNAKEGAME.ipch
Snake/.vs/Snake/v17/ipch/AutoPCH/229c18ea417cba2d/SNAKEGAME.ipch
Snake/.vs/Snake/v17/ipch/AutoPCH/73aa80b198d3e43/SNAKE.ipch
